                                 /* Alpha channel */
          #box1{
            width: 100px;
            height: 100px;
            margin: 25px;
            padding: 25px;
            display :inline-block;
            background-color: rgba(0, 0, 255, 0.5);
          }  

          #box2{
            width: 100px;
            height: 100px;
            margin: 25px;
            padding: 25px;
            display :inline-block;
            background-color: rgba(0, 0, 255, 0.75);
          }   

          #box3{
            width: 100px;
            height: 100px;
            margin: 25px;
            padding: 25px;
            display :inline-block;
            background-color: rgba(0, 0, 255,1);
          }      